/* Removed textarea, ol, input, b, strong, etc because it is not used or redundant. used shorthand. 
*/

html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: none;
}

body {
	color: #333;
	font: 400 14px/1.61 "Open Sans", sans-serif;
	max-width: 45em;
	margin: 0 auto;
}

a {
	color: #12C;
}

a:visited {
  color: #61C;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
	color: #c00;
}

ul {
	margin: 1em 0;
	padding: 0 0 0 20px;
}

img {
	max-width: 100%;
}
		
.content { 
	padding: 1em 1em;
}

.contentList {
	list-style-type: none;
	font-size: 1.1em;}

.contentImg {
	float:left;
	padding-right: 1em;
}

.stats {
	float: right;
	font-style: italic;
}

.subTitle {  
  font-weight: normal;
  font-size: 0.8em;
}

header {
	padding: 0 0.5em 1.5em;
	color: #C90B0B;
}

h1 {
	font-size: 1.5em; 
	padding-left: 4em;
}

h3{
	font-size: 0.9em;
	font-style: italic;
	padding-left: 4em;
	font-weight: normal;
}

footer {
	padding: 0 0.5em;
	border-top: 1px solid #ccc;
}

.picture {  
	border-radius: 40px;
	float: left;
}

/* Smartphones (portrait) */
@media only screen and (max-width: 480px) {
	body {
		font-size: 12px;
	}
}